body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #efefef;
  color: #efefef;
  background: linear-gradient(to top, rgba(65, 62, 65, 0.7) 0%, rgba(73, 76, 77, 0.7) 100%),url(../../img/travel-create.jpg);
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  display: none;
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: #efefef;
  color: #333333;
}

.login-header {
  background-color: #efefef;
}

.login-body {
  background-color: #efefef;
}

// 投稿編集 //
.edit-movie video {
  height: 150px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
