body {
  color: #000;
  background-color: #efefef;
}
.display-2 {
  font-family: monospace;
}
.font {
  color: #f00;
}
/*--- Navigation --*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img {
    height: 2rem;
}
.navbar-nav li {
    padding-right: 7rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #1ebba3;
}

// carousel //
.carousel-inner img {
  width: 100%;
  max-width: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// card //
.container {
  // background-color: #847593;
}
.row {
  // background-color: #333333;
}
.navbar-laravel {
  display: none;
}
.col-md-6 img {
  width: 200px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
}
.card-img-top {
  background-color: #efefef;
  width: 360px;
  height: 240px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin: 0 auto;
  margin-top: 1rem;
}
.image {
  background-color: #efefef;
}
.col-sm-6 .card .card-img-top {
  width: 200px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;

}
/*=========================
        CONTACT
===========================*/

.form-kerri .form-control {
    box-shadow: none !important;
    height: 50px;
    border: 2px solid #e0e0e0;
}

.form-kerri .form-control:focus {
    border-color: #e65f78;
}

.form-kerri textarea.form-control {
    height: auto;
}

.contact_detail-title {
    font-size: 18px;
}

.buttons {
  text-align: center;
}
//---  footer ---//
footer {
  background-color: #a1a6ab;
  color: white;
  padding: 2rem 0 2rem;

}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: #1ebba3!important;
}
hr.socket {
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem;
}

/*--- Media Queries --*/

@media (max-width: 767px) {
    .caption h1 {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    .caption h3 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .btn-lg {
        padding: .5rem 1rem;
        font-size: 1rem;
    }
    .narrow h1 {
        font-size: 1.5rem;
    }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
    transform: translateY(-50%);
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2em;
    padding: .7rem;
  }
}
