body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #efefef;
  color: #efefef;
  background: linear-gradient(to top, rgba(65, 62, 65, 0.7) 0%, rgba(73, 76, 77, 0.7) 100%), url(/images/travel-create.jpg?917ae52b2108f2e60c84dec7d6d49904);
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  display: none;
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #333333;
  background-color: #efefef;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: #efefef;
  color: #333333;
}

.login-header {
  background-color: #efefef;
}

.login-body {
  background-color: #efefef;
}

.edit-movie video {
  height: 150px;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.edit-image img {
  height: 150px;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*--- Media Queries --*/

@media (max-width: 767px) {
  .container h2 {
    font-size: 2.3rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
    margin: 0 auto;
  }

  .col-md-4 .buttons {
    text-align: center;
  }

  .col-md-2 .buttons {
    margin-top: 1rem;
  }

  .table {
    padding: 0 0.5rem;
    max-height: 50%;
    text-overflow: ellipsis;
  }

  .edit-image img {
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .edit-movie video {
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

