body {
  color: #000;
  background-color: #e6c289;
}

video {
  max-width: 50%;
  background-color: #efefef;
}

.container {
  background-color: #847593;
}

.row {
  background-color: #333333;
}

.navbar-laravel {
  display: none;
}

.movie {
  background-color: #efefef;
}

.image {
  background-color: #efefef;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.headline .caption {
  position: relative;
  width: 400px;
}

.headline .caption .image img {
  width: 80%;
  margin: 0 auto;
}

.headline .caption .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .title h1 {
  color: #efefef;
  font-size: 1.2em;
}

.headline .caption .body {
  font-size: 0.8em;
}

.movie .video {
  width: 150%;
  margin: 0 auto;
}

.posts .post .date {
  font-size: 0.6em;
  color: #efefef;
}

.posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 150px;
}

